URxvt.foreground: #AAAAAA
URxvt.background: #000000
URxvt.font: xft:monospace:size=10
URxvt.scrollBar: off

URxvt.inheritPixmap: true
URxvt.tintColor: white
URxvt.shading: 22

dzen2.font:xft:monospace:size=12
